/* generic_attributes */
:root{
    --toboo-white: #ffffff;
    --toboo-light: #f6f8f9;
    --toboo-editorial: #47adf1;
    --toboo-goals: #9c72e4;
    --toboo-recruiting: #64c0a9;
    --toboo-mobile: #f29e33;
    --toboo-website: #d863a1;
    --toboo-sales: #b0c926;
}

#font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0%;
    background-color: var(--toboo-light);
}

#container{
    margin: 40px auto;
    width: 70%;
    background-color: var(--toboo-white);
}
/* /generic_attributes */

/* header_attributes */
header{
    background-color: var(--toboo-white);
}

#logo_img{
    display: inline-block;
    vertical-align: middle;
    padding-left: 1.5rem;
}

#logo_txt{
    display: inline-block;
    vertical-align: middle;
}
/* /header_attributes */

/* main_attributes */
.list{
    list-style-type: none;
}

#button1{
    color: var(--toboo-white);
    background-color: var(--toboo-editorial);
    border-radius: 15%;
    border-color: #47adf1;
}

#button2{
    color:lightgray;
    background-color: var(--toboo-white);
    border-radius: 15%;
    border-color: lightgrey;
}

.check{
    border-radius: 20px;
    border-color: green;
    color: green;
    background-color: var(--toboo-white);
}

.x{
    border-radius: 20px;
    border-color:red;
    color:red;
    background-color: var(--toboo-white);
}

section{
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* /main_attributes */

/* colorful_categories */
.editorial{
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--toboo-white);
    background-color: #47adf1;
}
/* /colorful_categories */